## Sensitive information ##
HOST=
USER=
PASSWORD=
DATABASE=

## Non-sensitive information ##
# Sets how many times the script will attempt to retrieve data via API and connect to your database
MAX_RETRIES=5
# Sets how many seconds to wait between API calls / DB connection attempts
RETRY_DELAY=2
# Recreation.gov's API rejects requests the default Python User-Agent header value. Only touch if you're having trouble retrieving data
USER_AGENT=Mozilla/5.0
# Change if you want to pull data for a different permit area. By default, 233262 is the permit id for Inyo NF, and 445859 is the permit
# id for Yosemite National Park. You can add other areas if you'd like
PERMIT_IDS=('233262', '445859')